<a href="https://colab.research.google.com/github/Saifullah785/python-for-finance-notes/blob/main/Chapter_04_Numerical_Computing_with_NumPy/Chapter_04_Numerical_Computing_with_NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numerical Computing with NumPy**

**Arrays with Python Lists**

In [2]:
# Define a Python list 'v' with some numerical values.
v = [0.5, 0.75, 1.0, 1.5, 2.0]
# Display the list 'v'.
v

[0.5, 0.75, 1.0, 1.5, 2.0]

In [3]:
# Create a list 'm' containing three copies of the list 'v'.
m = [v, v, v]
# Display the list of lists 'm'.
m

[[0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0]]

In [4]:
# Access and display the second element (at index 1) of the list of lists 'm'.
m[1]

[0.5, 0.75, 1.0, 1.5, 2.0]

In [5]:
# Access and display the first element (at index 0) of the second list (at index 1) within 'm'.
m[1][0]

0.5

In [11]:
# Define two Python lists 'v1' and 'v2'.
v1 = [0.5, 1.5]
# Display 'v1'.
v1

v2 = [1, 2]
# Display 'v2'.
v2

# Create a list of lists 'm' containing 'v1' and 'v2'.
m = [v1, v2]
# Display 'm'.
m

# Create a list of lists of lists 'c' containing two copies of 'm'.
c = [m, m]
# Display 'c'.
c

[[[0.5, 1.5], [1, 2]], [[0.5, 1.5], [1, 2]]]

In [12]:
# Access and display the first element (at index 0) of the second list (at index 1) within the second list (at index 1) of 'c'.
c[1][1][0]

1

In [13]:
# Redefine the list 'v'.
v = [0.5, 0.75, 1.0, 1.5, 2.0]
# Redefine the list of lists 'm' with three copies of 'v'.
m = [v, v, v]
# Display 'm'.
m

[[0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0]]

In [14]:
# Modify the first element of the list 'v' to the string 'Python'.
v [0] = 'Python'
# Display 'm'. Note that because 'm' contains references to 'v', the change in 'v' is reflected in 'm'.
m

[['Python', 0.75, 1.0, 1.5, 2.0],
 ['Python', 0.75, 1.0, 1.5, 2.0],
 ['Python', 0.75, 1.0, 1.5, 2.0]]

In [15]:
# Import the deepcopy function from the copy module.
from copy import deepcopy
# Redefine the list 'v'.
v = [0.5, 0.75, 1.0, 1.5, 2.0]
# Create a list of lists 'm' with three independent copies of 'v' using deepcopy.
m = 3 * [deepcopy (v), ]
# Display 'm'.
m

[[0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0]]

In [16]:
# Modify the first element of the list 'v' to the string 'Python'.
v[0] = 'Python'
# Display 'm'. Note that because deepcopy was used, the change in 'v' does not affect the lists within 'm'.
m

[[0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0]]

# **Interlude: Python Array Class**

In [17]:
# Define a Python list 'v' with some numerical values.
v = [0.5, 0.75, 1.0, 1.5, 2.0]

In [25]:
# Import the array module.
import array

In [26]:
# Create an array 'a' of type 'f' (float) from the list 'v'.
a = array.array('f', v)
# Display the array 'a'.
a

array('f', [0.5, 0.75, 1.0, 1.5, 2.0])

In [27]:
# Append a value (0.5) to the array 'a'.
a.append(0.5)
# Display the modified array 'a'.
a

array('f', [0.5, 0.75, 1.0, 1.5, 2.0, 0.5])

In [28]:
# Extend the array 'a' with elements from a list ([5.0, 6.75]).
a.extend([5.0, 6.75])
# Display the modified array 'a'.
a

array('f', [0.5, 0.75, 1.0, 1.5, 2.0, 0.5, 5.0, 6.75])

In [29]:
# Attempt to multiply the array 'a' by 2. For array.array, this concatenates the array with itself.
2 * a

array('f', [0.5, 0.75, 1.0, 1.5, 2.0, 0.5, 5.0, 6.75, 0.5, 0.75, 1.0, 1.5, 2.0, 0.5, 5.0, 6.75])

In [30]:
# Convert the array 'a' back to a Python list.
a.tolist()

[0.5, 0.75, 1.0, 1.5, 2.0, 0.5, 5.0, 6.75]

In [32]:
# Open a file named 'array.apy' in binary write mode ('wb').
f = open('array.apy', 'wb')
# Write the contents of array 'a' to the file.
a.tofile(f)
# Close the file.
f.close()

In [42]:
# Open a file named 'array.apy' in binary write mode ('wb') using a 'with' statement, which ensures the file is closed automatically.
with open ('array.apy', 'wb') as f:
  # Write the contents of array 'a' to the file.
  a.tofile(f)

In [44]:
# Execute a shell command to list files starting with 'arr' in the current directory, showing file permissions, number of links, owner, group, size, and modification time.
!ls -n arr*

-rw-r--r-- 1 0 0 32 Jul 11 16:55 array.apy

In [45]:
# Create an empty array 'b' of type 'f' (float).
b = array.array('f')
# Display the empty array 'b'.
b

array('f')

In [46]:
# Open the file 'array.apy' in binary read mode ('rb').
with open('array.apy', 'rb') as f:
  # Read 2 elements of type 'f' (float) from the file into array 'b'.
  b.fromfile(f, 2)

In [47]:
# Display the array 'b' after reading data from the file.
b

array('f', [0.5, 0.75])

In [48]:
# Create an empty array 'b' of type 'd' (double).
b = array.array('d')
# Display the empty array 'b'.
b

array('d')

In [49]:
# Open the file 'array.apy' in binary read mode ('rb').
with open('array.apy', 'rb') as f:
    # Read 2 elements of type 'd' (double) from the file into array 'b'. Note that reading floats as doubles can lead to unexpected values due to different byte sizes.
    b.fromfile(f, 2)

In [50]:
# Display the array 'b' after attempting to read float data as doubles from the file.
b

array('d', [0.0004882813645963324, 0.12500002956949174])