<a href="https://colab.research.google.com/github/Saifullah785/python-for-finance-notes/blob/main/Chapter_03_Data_Types_and_Structures/Chapter_03_Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types and Structures**

Basic Data Types

# **Integers**

In [ ]:
a = 10 # Assign integer value 10 to variable 'a'
type(a) # Check the data type of 'a'

int

In [ ]:
a.bit_length() # Get the number of bits required to represent the integer 'a'

4

In [ ]:
a = 100000 # Assign a larger integer value to 'a'
a.bit_length() # Get the number of bits required to represent the new value of 'a'

17

In [ ]:
googol = 10**100 # Calculate a googol (10 to the power of 100) and assign it to 'googol'
googol # Display the value of googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
googol.bit_length() # Get the number of bits required to represent the googol

333

In [ ]:
1 + 4 # Perform integer addition

5

In [ ]:
1 / 4 # Perform floating-point division

0.25

In [ ]:
type(1 / 4) # Check the data type of the result of the division

float

# **Floats**

In [ ]:
1.6 / 4 # Perform floating-point division with a float

0.4

In [ ]:
type(1.6 / 4) # Check the data type of the result of the floating-point division

float

In [ ]:
b = 0.35 # Assign a float value to variable 'b'
type(b) # Check the data type of 'b'

float

In [ ]:
b + 0.1 # Perform addition with a float, demonstrating potential floating-point inaccuracies

0.44999999999999996

In [ ]:
c = 0.5 # Assign a float value to variable 'c'
c.as_integer_ratio() # Get the ratio of two integers that exactly represents the float 'c'

(1, 2)

In [ ]:
b.as_integer_ratio() # Get the ratio of two integers that exactly represents the float 'b'

(3152519739159347, 9007199254740992)

In [ ]:
import decimal # Import the decimal module for precise decimal arithmetic
from decimal import Decimal # Import the Decimal class

In [ ]:
decimal.getcontext() # Get the current decimal context, showing precision and other settings

Context(prec=50, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[Inexact, Rounded], traps=[InvalidOperation, DivisionByZero, Overflow])

In [ ]:
d = Decimal(1) / Decimal (11) # Perform division using Decimal objects for precision
d # Display the result with the default precision

Decimal('0.090909090909090909090909090909090909090909090909091')

In [ ]:
decimal.getcontext().prec = 4 # Set the precision for decimal operations to 4

In [ ]:
e = Decimal(1) / Decimal (11) # Perform division again with the new precision
e # Display the result with precision set to 4

Decimal('0.09091')

In [ ]:
decimal.getcontext().prec = 50 # Set the precision for decimal operations to 50

In [ ]:
f = Decimal(1) / Decimal (11) # Perform division again with precision set to 50
f # Display the result with precision set to 50

Decimal('0.090909090909090909090909090909090909090909090909091')

In [ ]:
g = d + e + f # Add the three Decimal objects
g # Display the sum, showing how precision affects the result

Decimal('0.27272818181818181818181818181818181818181818181818')

# **Boolean**

In [68]:
import keyword # Import the keyword module to work with Python keywords

In [69]:
keyword.kwlist # Get a list of all Python keywords

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [70]:
4 > 3 # Check if 4 is greater than 3, returns a boolean

True

In [71]:
(type(4 > 3)) # Check the data type of the result of the comparison (which is boolean)

bool

In [72]:
type(False) # Check the data type of the boolean value False

bool

In [73]:
4 >= 3 # Check if 4 is greater than or equal to 3, returns a boolean

True

In [74]:
4 < 3 # Check if 4 is less than 3, returns a boolean

False

In [75]:
4 <= 3 # Check if 4 is less than or equal to 3, returns a boolean

False

In [76]:
4 == 3 # Check if 4 is equal to 3, returns a boolean

False

In [77]:
4 != 3 # Check if 4 is not equal to 3, returns a boolean

True

In [78]:
True and True # Perform a logical AND operation on two True values

True

In [79]:
True and False # Perform a logical AND operation on True and False values

False

In [80]:
False and False # Perform a logical AND operation on two False values

False

In [81]:
True or True # Perform a logical OR operation on two True values

True

In [82]:
True or False # Perform a logical OR operation on True and False values

True

In [83]:
not True # Perform a logical NOT operation on True

False

In [84]:
(4 > 3) and (2 > 3) # Combine two comparisons with logical AND

False

In [85]:
(4 == 3) or (2 != 3) # Combine two comparisons with logical OR

True

In [86]:
not(4 != 4) # Negate the result of a comparison (4 is not equal to 4 is False, so not False is True)

True

In [87]:
(not(4 != 4)) or (2 == 3) # Combine logical NOT and OR operations

True

In [88]:
if 4 > 3: # Check if the condition (4 > 3) is True
  print('Condition is True') # If the condition is True, execute this line

Condition is True

In [89]:
i = 0 # Initialize a variable i to 0
while i < 4: # Loop while i is less than 4
  print('condition true, i = ', i) # Print a message including the current value of i
  i += 1 # Increment i by 1

condition true, i =  0
condition true, i =  1
condition true, i =  2
condition true, i =  3

In [90]:
int(True) # Convert the boolean value True to an integer (True is converted to 1)

1

In [91]:
int(False) # Convert the boolean value False to an integer (False is converted to 0)

0

In [92]:
float(True) # Convert the boolean value True to a float (True is converted to 1.0)

1.0

In [93]:
float(False) # Convert the boolean value False to a float (False is converted to 0.0)

0.0

In [94]:
bool (0) # Convert the integer 0 to a boolean (0 is considered False)

False

In [95]:
bool(0.0) # Convert the float 0.0 to a boolean (0.0 is considered False)

False

In [96]:
bool(1) # Convert the integer 1 to a boolean (any non-zero number is considered True)

True

In [97]:
bool (10.5) # Convert the float 10.5 to a boolean (any non-zero number is considered True)

True

In [98]:
bool (-2) # Convert the integer -2 to a boolean (any non-zero number is considered True)

True

# **Strings**

In [99]:
t = 'this is a string object' # Assign a string value to variable 't'

In [100]:
t.capitalize() # Capitalize the first character of the string 't'

'This is a string object'

In [101]:
t.split() # Split the string 't' into a list of substrings based on whitespace

['this', 'is', 'a', 'string', 'object']

In [102]:
t.find('string') # Find the starting index of the substring 'string' within the string 't'

10

In [103]:
t.find('Python') # Find the starting index of the substring 'Python' within the string 't' (returns -1 if not found)

-1

In [104]:
t.replace(' ', '|') # Replace all occurrences of a space ' ' with a pipe '|' in the string 't'

'this|is|a|string|object'

In [105]:
'https://www.python.org'.strip('htp:/') # Remove leading and trailing characters specified in the argument from the string

's://www.python.org'

# **Excursion: Printing and String Replacements**

In [106]:
print('Python for finance') # Print the literal string "Python for finance"

Python for finance

In [107]:
print(t) # Print the value of the variable 't' (which is a string)

this is a string object

In [108]:
i =0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
  print(i) # Print the current value of i on a new line
  i +=1 # Increment i by 1

0
1
2
3

In [109]:
i = 0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
  print(i, end='|') # Print the current value of i, followed by a pipe '|' instead of a newline
  i +=1 # Increment i by 1

0|1|2|3|

In [110]:
'this is an integer %d' % 15 # Use the old-style % formatting to insert an integer into a string

'this is an integer 15'

In [111]:
'this is an integer %4d' %15 # Use old-style % formatting to insert an integer, reserving 4 spaces and right-aligning

'this is an integer   15'

In [112]:
'this is an integer %04d' %15 # Use old-style % formatting to insert an integer, reserving 4 spaces and padding with leading zeros

'this is an integer 0015'

In [113]:
'this is an integer %f' % 15.3456 # Use old-style % formatting to insert a float into a string with default precision

'this is an integer 15.345600'

In [114]:
'this is an integer %.2f' % 15.3456 # Use old-style % formatting to insert a float with two decimal places

'this is an integer 15.35'

In [115]:
'this is a float %8f' % 15.3456 # Use old-style % formatting to insert a float, reserving 8 spaces and right-aligning with default precision

'this is a float 15.345600'

In [116]:
'this is a float %8.2f' % 15.3456 # Use old-style % formatting to insert a float with two decimal places, reserving 8 spaces and right-aligning

'this is a float    15.35'

In [117]:
'this is a float %08.2f' % 15.3456 # Use old-style % formatting to insert a float with two decimal places, reserving 8 spaces and padding with leading zeros

'this is a float 00015.35'

In [118]:
'this is a string %s' % 'Python' # Use old-style % formatting to insert a string

'this is a string Python'

In [119]:
'this is a string %10s' % 'Python' # Use old-style % formatting to insert a string, reserving 10 spaces and right-aligning

'this is a string     Python'

In [120]:
'this is an integer {:d}'.format(15) # Use .format() method to insert an integer into a string

'this is an integer 15'

In [121]:
'this is an integer {:4d}'.format(15) # Use .format() method to insert an integer, reserving 4 spaces and right-aligning

'this is an integer   15'

In [122]:
'this is an integer {:04d}'.format(15) # Use .format() method to insert an integer, reserving 4 spaces and padding with leading zeros

'this is an integer 0015'

In [123]:
'this is a float {:f}'.format(15.3456) # Use .format() method to insert a float with default precision

'this is a float 15.345600'

In [124]:
'this is a float {:.2f}'.format(15.3456) # Use .format() method to insert a float with two decimal places

'this is a float 15.35'

In [125]:
'this is a float {:8f}'.format(15.3456) # Use .format() method to insert a float, reserving 8 spaces and right-aligning with default precision

'this is a float 15.345600'

In [126]:
'this is a float {:8.2f}'.format(15.3456) # Use .format() method to insert a float with two decimal places, reserving 8 spaces and right-aligning

'this is a float    15.35'

In [127]:
'this is a float {:08.2f}'.format(15.3456) # Use .format() method to insert a float with two decimal places, reserving 8 spaces and padding with leading zeros

'this is a float 00015.35'

In [128]:
'this is a string {:s}'.format('Python') # Use .format() method to insert a string

'this is a string Python'

In [129]:
'this is a string {:10s}'.format('Python') # Use .format() method to insert a string, reserving 10 spaces and left-aligning (default for strings)

'this is a string Python    '

In [130]:
i = 0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
  print('the number is %d ' % i) # Print a formatted string using old-style % formatting
  i += 1 # Increment i by 1

the number is 0
the number is 1
the number is 2
the number is 3

In [131]:
i = 0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
    print('the number is {:d}'.format(i)) # Print a formatted string using the .format() method
    i += 1 # Increment i by 1

the number is 0
the number is 1
the number is 2
the number is 3