<a href="https://colab.research.google.com/github/Saifullah785/python-for-finance-notes/blob/main/Chapter_03_Data_Types_and_Structures/Chapter_03_Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types and Structures**

Basic Data Types

# **Integers**

In [ ]:
a = 10 # Assign integer value 10 to variable 'a'
type(a) # Check the data type of 'a'

int

In [ ]:
a.bit_length() # Get the number of bits required to represent the integer 'a'

4

In [ ]:
a = 100000 # Assign a larger integer value to 'a'
a.bit_length() # Get the number of bits required to represent the new value of 'a'

17

In [ ]:
googol = 10**100 # Calculate a googol (10 to the power of 100) and assign it to 'googol'
googol # Display the value of googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
googol.bit_length() # Get the number of bits required to represent the googol

333

In [ ]:
1 + 4 # Perform integer addition

5

In [ ]:
1 / 4 # Perform floating-point division

0.25

In [ ]:
type(1 / 4) # Check the data type of the result of the division

float

# **Floats**

In [ ]:
1.6 / 4 # Perform floating-point division with a float

0.4

In [ ]:
type(1.6 / 4) # Check the data type of the result of the floating-point division

float

In [ ]:
b = 0.35 # Assign a float value to variable 'b'
type(b) # Check the data type of 'b'

float

In [ ]:
b + 0.1 # Perform addition with a float, demonstrating potential floating-point inaccuracies

0.44999999999999996

In [ ]:
c = 0.5 # Assign a float value to variable 'c'
c.as_integer_ratio() # Get the ratio of two integers that exactly represents the float 'c'

(1, 2)

In [ ]:
b.as_integer_ratio() # Get the ratio of two integers that exactly represents the float 'b'

(3152519739159347, 9007199254740992)

In [ ]:
import decimal # Import the decimal module for precise decimal arithmetic
from decimal import Decimal # Import the Decimal class

In [ ]:
decimal.getcontext() # Get the current decimal context, showing precision and other settings

Context(prec=50, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[Inexact, Rounded], traps=[InvalidOperation, DivisionByZero, Overflow])

In [ ]:
d = Decimal(1) / Decimal (11) # Perform division using Decimal objects for precision
d # Display the result with the default precision

Decimal('0.090909090909090909090909090909090909090909090909091')

In [ ]:
decimal.getcontext().prec = 4 # Set the precision for decimal operations to 4

In [ ]:
e = Decimal(1) / Decimal (11) # Perform division again with the new precision
e # Display the result with precision set to 4

Decimal('0.09091')

In [ ]:
decimal.getcontext().prec = 50 # Set the precision for decimal operations to 50

In [ ]:
f = Decimal(1) / Decimal (11) # Perform division again with precision set to 50
f # Display the result with precision set to 50

Decimal('0.090909090909090909090909090909090909090909090909091')

In [ ]:
g = d + e + f # Add the three Decimal objects
g # Display the sum, showing how precision affects the result

Decimal('0.27272818181818181818181818181818181818181818181818')

# **Boolean**

In [ ]:
import keyword # Import the keyword module to work with Python keywords

In [ ]:
keyword.kwlist # Get a list of all Python keywords

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
4 > 3 # Check if 4 is greater than 3, returns a boolean

True

In [ ]:
(type(4 > 3)) # Check the data type of the result of the comparison (which is boolean)

bool

In [ ]:
type(False) # Check the data type of the boolean value False

bool

In [ ]:
4 >= 3 # Check if 4 is greater than or equal to 3, returns a boolean

True

In [ ]:
4 < 3 # Check if 4 is less than 3, returns a boolean

False

In [ ]:
4 <= 3 # Check if 4 is less than or equal to 3, returns a boolean

False

In [ ]:
4 == 3 # Check if 4 is equal to 3, returns a boolean

False

In [ ]:
4 != 3 # Check if 4 is not equal to 3, returns a boolean

True

In [ ]:
True and True # Perform a logical AND operation on two True values

True

In [ ]:
True and False # Perform a logical AND operation on True and False values

False

In [ ]:
False and False # Perform a logical AND operation on two False values

False

In [ ]:
True or True # Perform a logical OR operation on two True values

True

In [ ]:
True or False # Perform a logical OR operation on True and False values

True

In [ ]:
not True # Perform a logical NOT operation on True

False

In [ ]:
(4 > 3) and (2 > 3) # Combine two comparisons with logical AND

False

In [ ]:
(4 == 3) or (2 != 3) # Combine two comparisons with logical OR

True

In [ ]:
not(4 != 4) # Negate the result of a comparison (4 is not equal to 4 is False, so not False is True)

True

In [ ]:
(not(4 != 4)) or (2 == 3) # Combine logical NOT and OR operations

True

In [ ]:
if 4 > 3: # Check if the condition (4 > 3) is True
  print('Condition is True') # If the condition is True, execute this line

Condition is True

In [ ]:
i = 0 # Initialize a variable i to 0
while i < 4: # Loop while i is less than 4
  print('condition true, i = ', i) # Print a message including the current value of i
  i += 1 # Increment i by 1

condition true, i =  0
condition true, i =  1
condition true, i =  2
condition true, i =  3

In [ ]:
int(True) # Convert the boolean value True to an integer (True is converted to 1)

1

In [ ]:
int(False) # Convert the boolean value False to an integer (False is converted to 0)

0

In [ ]:
float(True) # Convert the boolean value True to a float (True is converted to 1.0)

1.0

In [ ]:
float(False) # Convert the boolean value False to a float (False is converted to 0.0)

0.0

In [ ]:
bool (0) # Convert the integer 0 to a boolean (0 is considered False)

False

In [ ]:
bool(0.0) # Convert the float 0.0 to a boolean (0.0 is considered False)

False

In [ ]:
bool(1) # Convert the integer 1 to a boolean (any non-zero number is considered True)

True

In [ ]:
bool (10.5) # Convert the float 10.5 to a boolean (any non-zero number is considered True)

True

In [ ]:
bool (-2) # Convert the integer -2 to a boolean (any non-zero number is considered True)

True

# **Strings**

In [ ]:
t = 'this is a string object' # Assign a string value to variable 't'

In [ ]:
t.capitalize() # Capitalize the first character of the string 't'

'This is a string object'

In [ ]:
t.split() # Split the string 't' into a list of substrings based on whitespace

['this', 'is', 'a', 'string', 'object']

In [ ]:
t.find('string') # Find the starting index of the substring 'string' within the string 't'

10

In [ ]:
t.find('Python') # Find the starting index of the substring 'Python' within the string 't' (returns -1 if not found)

-1

In [ ]:
t.replace(' ', '|') # Replace all occurrences of a space ' ' with a pipe '|' in the string 't'

'this|is|a|string|object'

In [ ]:
'https://www.python.org'.strip('htp:/') # Remove leading and trailing characters specified in the argument from the string

's://www.python.org'

# **Excursion: Printing and String Replacements**

In [ ]:
print('Python for finance') # Print the literal string "Python for finance"

Python for finance

In [ ]:
print(t) # Print the value of the variable 't' (which is a string)

this is a string object

In [ ]:
i =0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
  print(i) # Print the current value of i on a new line
  i +=1 # Increment i by 1

0
1
2
3

In [ ]:
i = 0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
  print(i, end='|') # Print the current value of i, followed by a pipe '|' instead of a newline
  i +=1 # Increment i by 1

0|1|2|3|

In [ ]:
'this is an integer %d' % 15 # Use the old-style % formatting to insert an integer into a string

'this is an integer 15'

In [ ]:
'this is an integer %4d' %15 # Use old-style % formatting to insert an integer, reserving 4 spaces and right-aligning

'this is an integer   15'

In [ ]:
'this is an integer %04d' %15 # Use old-style % formatting to insert an integer, reserving 4 spaces and padding with leading zeros

'this is an integer 0015'

In [ ]:
'this is an integer %f' % 15.3456 # Use old-style % formatting to insert a float into a string with default precision

'this is an integer 15.345600'

In [ ]:
'this is an integer %.2f' % 15.3456 # Use old-style % formatting to insert a float with two decimal places

'this is an integer 15.35'

In [ ]:
'this is a float %8f' % 15.3456 # Use old-style % formatting to insert a float, reserving 8 spaces and right-aligning with default precision

'this is a float 15.345600'

In [ ]:
'this is a float %8.2f' % 15.3456 # Use old-style % formatting to insert a float with two decimal places, reserving 8 spaces and right-aligning

'this is a float    15.35'

In [ ]:
'this is a float %08.2f' % 15.3456 # Use old-style % formatting to insert a float with two decimal places, reserving 8 spaces and padding with leading zeros

'this is a float 00015.35'

In [ ]:
'this is a string %s' % 'Python' # Use old-style % formatting to insert a string

'this is a string Python'

In [ ]:
'this is a string %10s' % 'Python' # Use old-style % formatting to insert a string, reserving 10 spaces and right-aligning

'this is a string     Python'

In [ ]:
'this is an integer {:d}'.format(15) # Use .format() method to insert an integer into a string

'this is an integer 15'

In [ ]:
'this is an integer {:4d}'.format(15) # Use .format() method to insert an integer, reserving 4 spaces and right-aligning

'this is an integer   15'

In [ ]:
'this is an integer {:04d}'.format(15) # Use .format() method to insert an integer, reserving 4 spaces and padding with leading zeros

'this is an integer 0015'

In [ ]:
'this is a float {:f}'.format(15.3456) # Use .format() method to insert a float with default precision

'this is a float 15.345600'

In [ ]:
'this is a float {:.2f}'.format(15.3456) # Use .format() method to insert a float with two decimal places

'this is a float 15.35'

In [ ]:
'this is a float {:8f}'.format(15.3456) # Use .format() method to insert a float, reserving 8 spaces and right-aligning with default precision

'this is a float 15.345600'

In [ ]:
'this is a float {:8.2f}'.format(15.3456) # Use .format() method to insert a float with two decimal places, reserving 8 spaces and right-aligning

'this is a float    15.35'

In [ ]:
'this is a float {:08.2f}'.format(15.3456) # Use .format() method to insert a float with two decimal places, reserving 8 spaces and padding with leading zeros

'this is a float 00015.35'

In [ ]:
'this is a string {:s}'.format('Python') # Use .format() method to insert a string

'this is a string Python'

In [ ]:
'this is a string {:10s}'.format('Python') # Use .format() method to insert a string, reserving 10 spaces and left-aligning (default for strings)

'this is a string Python    '

In [ ]:
i = 0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
  print('the number is %d ' % i) # Print a formatted string using old-style % formatting
  i += 1 # Increment i by 1

the number is 0
the number is 1
the number is 2
the number is 3

In [ ]:
i = 0 # Initialize variable i to 0
while i < 4: # Loop while i is less than 4
    print('the number is {:d}'.format(i)) # Print a formatted string using the .format() method
    i += 1 # Increment i by 1

the number is 0
the number is 1
the number is 2
the number is 3

#**Excursion: Regular Expressions**

In [ ]:
import re # Import the regular expression module

In [ ]:
series = """ # Define a multiline string containing data
'01/18/2014 13:00:00', 100, '1st';
'01/18/2014 13:30:00', 110, '2nd';
'01/18/2014 14:00:00', 120, '3rd'
"""

In [ ]:
dt = re.compile("('[0-9/:\s]+')") # Compile a regular expression pattern to find strings that look like dates and times enclosed in single quotes

In [ ]:
result = dt.findall(series) # Find all occurrences of the pattern in the 'series' string and store them in a list
result # Display the list of found strings

["\n'",
 "01/18/2014 13:00:00'",
 " '",
 "\n'",
 "01/18/2014 13:30:00'",
 " '",
 "\n'",
 "01/18/2014 14:00:00'",
 " '"]

In [ ]:
from datetime import datetime # Import the datetime class from the datetime module
pydt = datetime.strptime(result[1].replace("'", ""), '%m/%d/%Y %H:%M:%S') # Parse the second element (index 1) of the result list into a datetime object after removing single quotes, using the specified format
pydt # Display the resulting datetime object

datetime.datetime(2014, 1, 18, 13, 0)

In [ ]:
print(pydt) # Print the datetime object

2014-01-18 13:00:00

In [ ]:
print(type(pydt)) # Print the data type of the variable 'pydt'

<class 'datetime.datetime'>

#**Basic Data Structures**

**Tuples**

In [ ]:
t = (1, 2.5, 'data') # Create a tuple with an integer, a float, and a string
type(t) # Check the data type of the variable 't'

tuple

In [ ]:
t = 1, 2.5, 'data' # Create a tuple without using parentheses (also valid syntax)
type(t) # Check the data type of the variable 't'

tuple

In [ ]:
t[2] # Access the element at index 2 of the tuple 't'

'data'

In [ ]:
type(t[2]) # Check the data type of the element at index 2 of the tuple 't'

str

In [ ]:
t.count('data') # Count the number of occurrences of the value 'data' in the tuple 't'

1

In [ ]:
t.index(1) # Find the index of the first occurrence of the value 1 in the tuple 't'

0

# **Lists**

In [ ]:
l = [1, 2.5, 'data'] # Create a list with an integer, a float, and a string
l[2] # Access the element at index 2 of the list 'l'

'data'

In [ ]:
l = list(t) # Convert the tuple 't' to a list and assign it to 'l'
l # Display the list 'l'

[1, 2.5, 'data']

In [ ]:
type(l) # Check the data type of the variable 'l'

list

In [ ]:
l.append([4, 3]) # Append a list containing the integers 4 and 3 to the end of list 'l'
l # Display the modified list 'l'

[1, 2.5, 'data', [4, 3]]

In [ ]:
l.extend([1.0, 1.5, 2.0]) # Extend the list 'l' by appending multiple elements from another list
l # Display the modified list 'l'

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [ ]:
l.insert(1, 'insert') # Insert the string 'insert' at index 1 in the list 'l'
l # Display the modified list 'l'

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0]

In [ ]:
l.remove('data') # Remove the first occurrence of the value 'data' from the list 'l'
l # Display the modified list 'l'

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.0]

In [ ]:
p = l.pop(3) # Remove and return the element at index 3 from the list 'l', assigning it to variable 'p'
print(l, p) # Print the modified list 'l' and the removed element 'p'

[1, 'insert', 2.5, 1.0, 1.5, 2.0] [4, 3]

In [ ]:
l[2:5] # Slice the list 'l' to get elements from index 2 up to (but not including) index 5

[2.5, 1.0, 1.5]

# **Excursion: Control Structures**

In [ ]:
for element in l[2:5]: # Iterate through the elements of the sliced list (from index 2 to 4)
  print(element ** 3) # Print the cube of each element

15.625
1.0
3.375

In [ ]:
r = range(0, 8, 1) # Create a range object starting from 0, stopping before 8, with a step of 1
r # Display the range object

range(0, 8)

In [ ]:
type(r) # Check the data type of the variable 'r'

range

In [ ]:
for i in range(2, 5): # Iterate through numbers from 2 up to (but not including) 5
  print(l[i]**2) # Print the square of the element at index 'i' in list 'l'

6.25
1.0
2.25

In [ ]:
for i in range(1, 10): # Iterate through numbers from 1 up to (but not including) 10
  if i % 2 == 0: # Check if the number 'i' is even
    print('%d is even' % i) # If even, print that it's even using old-style formatting
  elif i % 3 == 0: # Check if the number 'i' is a multiple of 3
    print('%d is multiple of 3' % i) # If a multiple of 3, print that using old-style formatting
  else: # If not even and not a multiple of 3
    print('%d is odd' % i) # Print that it's odd using old-style formatting

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

In [ ]:
total = 0 # Initialize variable 'total' to 0
while total < 100: # Loop while 'total' is less than 100
  total += 1 # Increment 'total' by 1 in each iteration
print(total) # Print the final value of 'total'

100

In [ ]:
m = [i ** 2 for i in range(5)] # Create a list using a list comprehension: square each number from 0 up to (but not including) 5
m # Display the list 'm'

[0, 1, 4, 9, 16]

# **Excursion: Functional Programming**

In [1]:
# Define a function 'f' that takes one argument 'x' and returns the square of 'x'
def f(x):
  return x ** 2
# Call the function 'f' with the argument 2 and display the result
f(2)

4

In [2]:
# Define a function 'even' that takes one argument 'x' and returns True if 'x' is even, False otherwise
def even(x):
  return x % 2 == 0

# Call the function 'even' with the argument 3 and display the result
even(3)

False

In [3]:
# Use the 'map' function to apply the 'even' function to each element of the range from 0 to 9
# 'map' returns an iterator, so convert it to a list to display the results
list(map(even, range(10)))

[True, False, True, False, True, False, True, False, True, False]

In [4]:
# Use a lambda function (an anonymous function) to square each element of the range from 0 to 9
# 'map' applies this lambda function to each element, and the result is converted to a list
list(map(lambda x: x ** 2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# Use the 'filter' function to select only the elements from the range (0 to 14) for which the 'even' function returns True
# 'filter' returns an iterator, so convert it to a list to display the results
list(filter(even, range(15)))
#

[0, 2, 4, 6, 8, 10, 12, 14]

# **Dicts**

In [7]:
# Create a dictionary named 'd' with key-value pairs representing information about Angela Merkel
d = {
    'Name' : 'Angela Merkel',
    'Country ': 'Germany',
    'Profession' : 'Chancelor',
    'Age' : 60
}
# Check and display the data type of the variable 'd'
type(d)

dict

In [8]:
# Access and print the values associated with the keys 'Name' and 'Age' in the dictionary 'd'
print(d['Name'],d['Age'])

Angela Merkel 60

In [9]:
# Get and display a view object that displays a list of all the keys in the dictionary 'd'
d.keys()

dict_keys(['Name', 'Country ', 'Profession', 'Age'])

In [10]:
# Get and display a view object that displays a list of all the values in the dictionary 'd'
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 60])

In [11]:
# Get and display a view object that displays a list of a dictionary's key-value tuple pairs
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country ', 'Germany'), ('Profession', 'Chancelor'), ('Age', 60)])

In [16]:
# Check if the boolean variable 'birthday' is True
birthday = True
if birthday:
  # If 'birthday' is True, increment the value associated with the key 'Age' by 1
  d['Age'] += 1
# Print the updated value of 'Age' from the dictionary 'd'
print(d['Age'])

65

In [17]:
# Iterate through the key-value pairs (items) of the dictionary 'd'
for item in d.items():
  # Print each key-value pair (as a tuple)
  print(item)

('Name', 'Angela Merkel')
('Country ', 'Germany')
('Profession', 'Chancelor')
('Age', 65)

In [18]:
# Iterate through the values of the dictionary 'd'
for value in d.values():
  # Print the data type of each value
  print(type(value))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

# **Sets**

In [19]:
# Create a set named 's' from a list of strings. Sets automatically remove duplicate elements.
s = set(['u','d','ud','du','d','du'])
# Display the set 's'
s

{'d', 'du', 'u', 'ud'}

In [20]:
# Create another set named 't' from a list of strings
t= set(['d','dd','uu','u'])

In [21]:
# Perform a union operation on sets 's' and 't', returning a new set containing all unique elements from both sets
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [22]:
# Perform an intersection operation on sets 's' and 't', returning a new set containing only the common elements
s.intersection(t)

{'d', 'u'}

In [23]:
# Perform a difference operation (s - t), returning a new set containing elements in 's' that are not in 't'
s.difference(t)

{'du', 'ud'}

In [24]:
# Perform a difference operation (t - s), returning a new set containing elements in 't' that are not in 's'
t.difference(s)

{'dd', 'uu'}

In [25]:
# Perform a symmetric difference operation, returning a new set containing elements that are in either 's' or 't' but not in both
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}

In [26]:
# Import the 'randint' function from the 'random' module
from random import randint
# Create a list 'l' containing 1000 random integers between 0 and 10 (inclusive) using a list comprehension
l = [randint(0,10) for i in range(1000)]
# Get and display the length (number of elements) of the list 'l'
len(l)

1000

In [27]:
# Display the first 20 elements of the list 'l' using slicing
l[:20]

[4, 9, 8, 5, 6, 3, 6, 6, 6, 5, 8, 5, 5, 10, 0, 8, 0, 1, 5, 1]

In [28]:
# Convert the list 'l' to a set 's'. Duplicate elements are automatically removed in a set.
s = set(l)
# Display the set 's', showing the unique elements from the list
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}