<a href="https://colab.research.google.com/github/Saifullah785/python-for-finance-notes/blob/main/Chapter_06_Object_Oriented_Programming/Chapter_06_Object_Oriented_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Object Oriented Projgramming**

#Introduction

In [1]:
# Defines a class named HumanBeing
class HumanBeing(object):
  # The __init__ method is the constructor of the class. It's called when a new object is created.
  def __init__(self, first_name, eye_color):
    # Initializes the instance variables (attributes) of the object.
    self.first_name = first_name
    self.eye_color = eye_color
    self.position = 0

  # Defines a method named walk_steps that takes an integer 'steps' as input.
  def walk_steps(self, steps):
    # Increases the value of the 'position' attribute by the 'steps' value.
    self.position += steps

In [2]:
# Creates an instance of the HumanBeing class named 'sandra'
# with "Sandra" as the first name and "blue" as the eye color.
sandra = HumanBeing("Sandra", "blue")

In [3]:
# Accesses and displays the 'first_name' attribute of the 'sandra' object.
sandra.first_name

'Sandra'

In [4]:
# Accesses and displays the 'eye_color' attribute of the 'sandra' object.
sandra.eye_color

'blue'

In [5]:
# Accesses and displays the 'position' attribute of the 'sandra' object.
sandra.position

0

In [6]:
# Calls the 'walk_steps' method of the 'sandra' object with an argument of 5.
# This increases the 'position' attribute by 5.
sandra.walk_steps(5)

In [8]:
# Accesses and displays the updated 'position' attribute of the 'sandra' object.
sandra.position

5

# A Brief Look at Standard Objects

In [9]:
# Assigns the integer value 5 to the variable 'n'.
n = 5

In [10]:
# Displays the data type of the variable 'n'.
type(n)

int

In [11]:
# Accesses and displays the numerator of the integer 'n'.
# For an integer, the numerator is the integer itself.
n.numerator

5

In [12]:
# Displays the 'bit_length' method of the integer 'n', which returns the number of bits required to represent an integer in binary.
n.bit_length

In [13]:
# Adds the value of 'n' to itself and displays the result.
n + n

10

In [14]:
# Multiplies the value of 'n' by 2 and displays the result.
2 * n

10

In [15]:
# Displays the memory size of the integer object 'n' in bytes.
n.__sizeof__()

28

# List

In [16]:
# Creates a list named 'l' containing integers.
l = [1, 2, 3, 4]

In [17]:
# Displays the data type of the variable 'l'.
type(l)

list

In [18]:
# Accesses and displays the element at index 0 of the list 'l'.
l[0]

1

In [19]:
# Appends the integer 10 to the end of the list 'l'.
l.append(10)

In [20]:
# Displays the updated list 'l'.
l

[1, 2, 3, 4, 10]

In [21]:
# Concatenates the list 'l' with itself and displays the result.
l + l

[1, 2, 3, 4, 10, 1, 2, 3, 4, 10]

In [22]:
# Repeats the list 'l' twice and displays the result.
2 * l

[1, 2, 3, 4, 10, 1, 2, 3, 4, 10]

In [23]:
# Calculates and displays the sum of all elements in the list 'l'.
sum(l)

20

In [24]:
# Displays the memory size of the list object 'l' in bytes.
l.__sizeof__()

104